.dashboard::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../assets/teto2.jpg) no-repeat center center fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
  pointer-events: none;
}

.card-chat .card-image {
  background-image: url(../assets/chat.jpg);
  background-size: 450px 400px;
}

.card-chess .card-image {
  background-image: url(../assets/chess.jpg);
}
